---
import { getLeaderboardPage } from "../../utils/api";
import { heightToFloor } from "../../utils/floor";
import { timeDifference } from "../../utils/time";

interface Props {
  page: number;
}

const { page } = Astro.props;

const players = await getLeaderboardPage(page);
---

<table>
  <tr>
    <td> Rank </td>
    <td> Name </td>
    <td> Floor </td>
    <td> Height </td>
    <td> Obtained </td>
  </tr>
  <tr id="spacer">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {
    players.map((player) => {
      return (
        <tr>
          <td>{player.rank}</td>
          <td>
            <a href={"/user/" + player.wsid}>{player.name}</a>
          </td>
          <td>{heightToFloor(player.height)}</td>
          <td>{player.height.toFixed(2)}</td>
          <td> {timeDifference(Date.now(), player.ts * 1000)} </td>
        </tr>
      );
    })
  }
</table>

<style>
  table {
    width: 100%;
  }

  tr {
    margin: 0.2rem 0;
  }

  .spacer {
    height: 1rem;
  }
</style>
