---
import type { LiveLeaderboard } from "../../types/api";
import { getLiveGlobalHeight } from "../../utils/api";
import { heightToFloor } from "../../utils/floor";
import { timeDifference } from "../../utils/time";

const players = await getLiveGlobalHeight();

const now = Date.now();
---

<table
  hx-swap="outerHTML"
  hx-get={"/api/live"}
  hx-trigger="every 20s"
  hx-target="this"
>
  <tr>
    <td> Curent Rank* </td>
    <td> Name </td>
    <td> Floor </td>
    <td> Height </td>
    <td> PB Rank </td>
    <td> PB </td>
    <td> PB Floor </td>
    <td> Last update**</td>
  </tr>
  <tr id="spacer">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {
    players.map((player) => {
      return (
        <tr>
          <td>{player.rank}</td>
          <td>
            <a href={"/user/" + player.user_id}>{player.display_name}</a>
          </td>
          <td>{heightToFloor(player.height)}</td>
          <td>{player.height.toFixed(2)}</td>
          <td>{player.pbRank ?? "N/A"}</td>
          <td>{player.pbHeight?.toFixed(2) ?? "N/A"}</td>
          <td>{player.pbHeight ? heightToFloor(player.pbHeight) : "N/A"}</td>
          <td>{timeDifference(now, player.ts * 1000)}</td>
        </tr>
      );
    })
  }

  <style is:inline>
    table {
      width: 100%;
    }

    tr {
      margin: 0.2rem 0;
    }

    .spacer {
      margin: 0.5rem;
    }
  </style>
</table>
