---
import { getPlayerData } from "../../utils/api";
import { heightToFloor } from "../../utils/floor";
import { timeDifference } from "../../utils/time";
import Section from "../Section.astro";

interface Props {
  wsid: string;
}

const { wsid } = Astro.props;

const data = await getPlayerData(wsid);
---

<div
  hx-swap="outerHTML"
  hx-get={"/api/user/" + wsid}
  hx-trigger="every 20s"
  hx-target="this"
>
  <Section title="Informations on pb">
    <table>
      <tr>
        <td> Rank </td>
        <td> PB Floor </td>
        <td> PB </td>
        <td> PB obtained </td>
      </tr>
      <tr id="spacer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td> {data.pbRank} </td>
        <td> {heightToFloor(data.pbHeight)} </td>
        <td> {data.pbHeight.toFixed(2)} </td>
        <td> {timeDifference(Date.now(), data.pbTs * 1000)} </td>
      </tr>
    </table>
  </Section>
  {
    data.connected && (
      <Section title="Informations on current">
        <table>
          <tr>
            <td> Current rank </td>
            <td> Current Floor </td>
            <td> Current Height </td>
            <td> Last update* </td>
          </tr>
          <tr>
            <td> {data.liveRank} </td>
            <td> {heightToFloor(data.liveHeight!)} </td>
            <td> {data.liveHeight!.toFixed(2)} </td>
            <td>{timeDifference(Date.now(), data.liveTs! * 1000)}</td>
          </tr>
        </table>
        <div class="spacer" />
        <span> * Last update from their plug-in </span>
      </Section>
    )
  }

  <style>
    table {
      width: 100%;
    }

    td {
      width: 25%;
    }

    .spacer {
      height: 1rem;
    }
  </style>
</div>
