---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import Leaderboard from "../components/Deeping/Leaderboard.astro";

const page = parseInt(Astro.url.searchParams.get("page") ?? "0");
---

<GlobalLayout title="Deep dip 2 leaderboard">
  <PageHeader>Leaderboard</PageHeader>

  <Leaderboard page={page} />
  <div class="spacer"></div>

  <span>
    {page > 0 && <a href={"/?page=" + (page - 1)}>{"<--"}</a>}
    <a href={"/?page=" + (page + 1)}>{"-->"}</a>
  </span>
</GlobalLayout>
