---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<GlobalLayout title="leaderboard | DD2">
  <PageHeader>Leaderboard</PageHeader>
  <div> The API was disabled </div>
</GlobalLayout>
