---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import LeaderboardPage from "../components/deepdip/LeaderboardPage.astro";

const page = parseInt(Astro.url.searchParams.get("page") ?? "0");
---

<GlobalLayout title="leaderboard | DD2">
  <PageHeader>Leaderboard</PageHeader>
  <div> The API was disabled </div>
</GlobalLayout>
