---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import LiveLeaderboard from "../components/deepdip/LiveLeaderboard.astro";
import Loader from "../components/Loader.astro";
---

<GlobalLayout title="live ranking | DD2">
  <PageHeader>Live ranking</PageHeader>
  <Loader />
  <div class="spacer"></div>

  <LiveLeaderboard />
  <div class="spacer"></div>
  <span>
    * Current rank is the rank they have right now, imagine Lars being at the
    start, he'll be displayed as 100th or something
  </span>
  <span> ** Last update from their plug-in </span>
  <i>
    btw, this website is kinda lying: I filter and hide everyone currently under
    30m and show only 100 players
  </i>
</GlobalLayout>
