---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<GlobalLayout title="live ranking | DD2">
  <PageHeader>Live ranking</PageHeader>
  <div> The API was disabled </div>
</GlobalLayout>
