---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<GlobalLayout title="overview | DD2">
  <PageHeader> Overview </PageHeader>

  <div> The API was disabled </div>
</GlobalLayout>
