---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import Section from "../components/Section.astro";
import type { Overview } from "../types/api";
import { getRoute } from "../utils/cache";

const ROUTE = "https://dips-plus-plus.xk.io/overview";
const data: Overview = await getRoute(ROUTE);
---

<GlobalLayout title="overview | DD2">
  <PageHeader> Overview </PageHeader>

  <div> The API was disabled </div>

  I'm at the end of the datas provided by XertroV through his beautiful API, go
  thank him, he deserves the world for his work!
</GlobalLayout>
