---
import PageHeader from "../../components/PageHeader.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

import Loader from "../../components/Loader.astro";
import PlayerData from "../../components/deepdip/PlayerData.astro";
import { getPlayerData } from "../../utils/api";

const { wsid } = Astro.params;

if (!wsid) return Astro.redirect("/", 303);

const data = await getPlayerData(wsid);
---

<GlobalLayout title={`informations for ${data.name} | DD2`}>
  <PageHeader>Informations on {data.name}</PageHeader>
  <Loader />
  <div class="spacer"></div>
  <PlayerData data={data} />
  {
    data.twitchUser && (
      <div
        hx-swap="outerHTML"
        hx-get={"/api/user/streaming/" + data.twitchUser}
        hx-trigger="load"
        hx-target="this"
      />
    )
  }
</GlobalLayout>
