---
import PageHeader from "../../components/PageHeader.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

import type { UserLeaderboard } from "../../types/api";
import PlayerData from "../../components/Deeping/PlayerData.astro";
import Loader from "../../components/Loader.astro";
import { getRoute } from "../../utils/cache";

const { wsid } = Astro.params;

if (!wsid) return Astro.redirect("/", 303);

const PB_ROUTE = "https://dips-plus-plus.xk.io/leaderboard/" + wsid;

const data: UserLeaderboard = await getRoute(PB_ROUTE);

if (!data) return Astro.redirect("/");
---

<GlobalLayout title={`informations for ${data.name} | DD2`}>
  <PageHeader>Informations on {data.name}</PageHeader>
  <Loader />
  <div class="spacer"></div>
  <PlayerData wsid={wsid} data_pb={data} />
  <div class="spacer"></div>
  <span> * Last update from their plug-in </span>
</GlobalLayout>
