---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import PageHeader from "../../components/others/DSPageHeader.astro";
import LeaderboardPage from "../../components/others/LeaderboardPage.astro";

const page = parseInt(Astro.url.searchParams.get("page") ?? "0");
---

<GlobalLayout title="leaderboard | DS">
  <PageHeader>Leaderboard</PageHeader>

  <LeaderboardPage page={page} />
  <div class="spacer"></div>

  <span>
    {page > 0 && <a href={"/slip/leaderboard?page=0"}>{"<<-"}</a>}
    {page > 0 && <a href={"/slip/leaderboard?page=" + (page - 1)}>{"<--"}</a>}
    <a href={"/slip/leaderboard?page=" + (page + 1)}>{"-->"}</a>
  </span>
  <div class="spacer"></div>
  <span>
    I can't build a "go to the last page" button due to how the API is made.
    Sorry (look at DeepDip2's leaderboard for more explanation)
  </span>
</GlobalLayout>
