---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import PageHeader from "../../components/others/DSPageHeader.astro";
import LeaderboardPage from "../../components/others/LeaderboardPage.astro";
import { getLeaderboardSize } from "../../utils/other_api";

const page = parseInt(Astro.url.searchParams.get("page") ?? "0");

const leaderboardSize = await getLeaderboardSize("slip");
---

<GlobalLayout title="leaderboard | DS">
  <PageHeader>Leaderboard</PageHeader>

  <LeaderboardPage page={page} />
  <div class="spacer"></div>

  <span>
    {page > 0 && <a href={"/slip/leaderboard?page=0"}>{"<<-"}</a>}
    {page > 0 && <a href={"/slip/leaderboard?page=" + (page - 1)}>{"<--"}</a>}
    {
      page < leaderboardSize.pages - 1 && (
        <a href={"/slip/leaderboard?page=" + (page + 1)}>{"-->"}</a>
      )
    }
    {
      page < leaderboardSize.pages - 1 && (
        <a href={"/slip/leaderboard?page=" + (leaderboardSize.pages - 1)}>
          {"->>"}
        </a>
      )
    }
  </span>
</GlobalLayout>
